<div class='navbar'>
    <a href="/create" class='btn'>Create New Item</a>
    <a href="/" class='btn'>View All items</a>
</div>

<style>
    .btn {
        background-color: #199319;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
        cursor: pointer;
        border: none;
        margin: 30px 40px;
    }
</style>